ok guys if you need any help or updates must be join over official channel 
@DINOCHECKER 
@DINOCHECKER
@DINOCHECKER
@DINOCHECKER

how to use 
1. download pyd3 from playstore.
2. copy code (sambmbr.py) and paste pyd3 and must be put ur token.
3 then run if any problems contact me @SamZGamer